Package: moe.waru.jikan
Name: Jikan
Version: 1.0
Architecture: iphoneos-arm
Description: Show estimate time left to full charge on your lock screen
Maintainer: waruhachi
Author: waruhachi
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
