<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pill Preview</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>lockPreviewXAxis</string>
			<key>label</key>
			<string>Lock X Axis</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>lockPreviewYAxis</string>
			<key>label</key>
			<string>Lock Y Axis</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Show Preview</string>
			<key>action</key>
			<string>openNotificationCenterPreview</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pill Display</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>showAfterFullCharge</string>
			<key>label</key>
			<string>Show after full charge</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>tapToShowWattage</string>
			<key>label</key>
			<string>Show current wattage</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>TextCellWithIcon</string>
			<key>label</key>
			<string>Opacity</string>
			<key>sfIcon</key>
			<string>circle.righthalf.fill</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>pillBackgroundOpacitySlider</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>pillBackgroundOpacityPercent</string>
			<key>label</key>
			<string>Pill Background Opacity (%)</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pill Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>TextCellWithIcon</string>
			<key>label</key>
			<string>Portrait</string>
			<key>sfIcon</key>
			<string>iphone</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>pillPosXPortraitSlider</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>pillPosXPortraitPercent</string>
			<key>label</key>
			<string>Portrait X %</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>pillPosYPortraitSlider</string>
			<key>default</key>
			<real>84</real>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>pillPosYPortraitPercent</string>
			<key>label</key>
			<string>Portrait Y %</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>TextCellWithIcon</string>
			<key>label</key>
			<string>Landscape</string>
			<key>sfIcon</key>
			<string>iphone.landscape</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>pillPosXLandscapeSlider</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>pillPosXLandscapePercent</string>
			<key>label</key>
			<string>Landscape X %</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>pillPosYLandscapeSlider</string>
			<key>default</key>
			<real>84</real>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>pillPosYLandscapePercent</string>
			<key>label</key>
			<string>Landscape Y %</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>hideQuickActionButtons</string>
			<key>label</key>
			<string>Hide Quick Action Buttons</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<!--
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>showRemainingBatteryTime</string>
			<key>label</key>
			<string>Show Remaining Battery Time</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>autoResizeRemainingBatteryTime</string>
			<key>label</key>
			<string>Auto Resize Battery Time</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
			<key>footerText</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Pill Position</string>
			<key>action</key>
			<string>resetPillPosition</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Reset Pill Position</string>
				<key>prompt</key>
				<string>Reset portrait/landscape pill position and axis locks?</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset To Defaults</string>
			<key>action</key>
			<string>resetPreferences</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Reset Preferences</string>
				<key>prompt</key>
				<string>Reset all Jikan settings to defaults?</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>

	</array>
	<key>title</key>
	<string>Jikan</string>
</dict>
</plist>
