<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>tapToShowWattage</string>
			<key>label</key>
			<string>Tap To Show Current Wattage</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>platterYOffsetSlider</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>platterYOffset</string>
			<key>label</key>
			<string>Platter Y Offset</string>
			<key>min</key>
			<real>-50</real>
			<key>max</key>
			<real>800</real>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<false/>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Display Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>hideQuickActionButtons</string>
			<key>label</key>
			<string>Hide Quick Action Buttons</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>showRemainingBatteryTime</string>
			<key>label</key>
			<string>Show Remaining Battery Time</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>autoResizeRemainingBatteryTime</string>
			<key>label</key>
			<string>Auto Resize Battery Time</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset To Defaults</string>
			<key>action</key>
			<string>resetPreferences</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Reset Preferences</string>
				<key>prompt</key>
				<string>Reset all Jikan settings to defaults?</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>

	</array>
	<key>title</key>
	<string>Jikan</string>
</dict>
</plist>
